/* Cargar las fuentes a utilizar en el sitio */
@font-face{
  font-family:Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face{
  font-family:Montserrat;
  font-weight:bold;
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face{
  font-family: Yanone;
  src:url(../fonts/YanoneKaffeesatz-Regular.ttf);
}

@font-face{
  font-family: Yanone;
  font-weight:bold;
  src:url(../fonts/YanoneKaffeesatz-bold.ttf);
}

body{
  font-family:Montserrat, sans-serif;
}

/*--------------------Colores Personalizados--------------------*/
.bg-darkgreen{
  background-color: rgba(10,46,7,0.95);
}

.bg-btn-green{
  background: #246c07;
  opacity: 0.9;
}

.border-card{
  border-color: #246c07;
}

.bg-btn-lightgreen{
  background-color: #188812
}

.bg-menu{
  background-color: rgba(36, 108, 7,0.9);
}

/*-------------------------Estilos Header-------------------------*/

.main-header{
   z-index: 2000;
   position: relative;
   margin-top: 30px;
}
 
 h1.logo{
   font-size: 2rem;
   font-weight: bold;
   padding: 10px;
   text-align: center
 }
 
 .main-header__contactInfo__phone{
   color:white;
   margin: 0 auto;
   padding:5px;
   font-size: 1rem;
   display:none
 }
 
 .main-header__contactInfo__address{
   margin: 0 auto;
   padding:5px;
   color:white;
   font-size: 1rem;
   display:none
 }
 
 .main-header[class*="icon-"]:before{
   position:relative;
   top:2px;
   right: 5px;
 }


/*-------------------------Estilos Banner-------------------------*/

.banner {
  position: absolute;
  opacity: 0.9;
  margin-top: -143px
}

.banner:before{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background: rgba(0,0,0,0.2);
   z-index: 1000;
   top:0;
 }

 .banner__img{
  width: 100%;
  height: 160px;
  object-fit: cover;
}

 .banner__content{
   width: 90%;
   z-index: 1500;
   top:87%;
   left:50%;
   transform: translateX(-50%) translateY(-50%);
   font-size: 1.1rem;
   font-weight: bold;
 }

 /*-------------------------Estilos Barra de Navegación-------------------------*/

 .main-nav{
   width: 100%;
   position:absolute;
   z-index: 2000;
   padding: 1px;
   background-color: #1a4714;
   top: 0px
 }

.nav-item:hover{
  background: #00b700;
}

.bg-menu{
  background: none;
}

.active{
 background-color: #00b700;
 font-weight: bold;
}

 /* La clase sticky se agrega a a la barra de navegación a través de JS para fijarla al borde superior de la página al hacer scroll */
.sticky {
   position: fixed;
   top: 0;
   width: 100%;
 }
 .sticky + .content {
   padding-top: 260px;
 }

 /*-------------------------Estilos Íconos Redes Sociales-------------------------*/

 .social-icon {
   margin: 0 0 0 auto;
   display:flex;
   justify-content:space-between;
   align-items: center;
 }
 
 .social-icon [class*="icon-"]{
   color:#1a5414;
   margin-left: 20px;
   display:flex;
   justify-content: center;
   align-items: center;
   font-size: 1.3em;
   width:35px;
   height: 35px;
   background: white;
   border-radius:50%;
 }
 
 .social-icon__link{
   text-decoration: none;
   color:#009432;
   display:none
 }
 
 .social-icon [class*="icon-"]:hover{
   text-decoration: none;
   color:white;
   background: #3fe82e;
 }

 /*----------------------- Estilos del footer -----------------------*/
 
 .main__footer{
  background-color: rgba(10,46,7,0.95);
  font-size: .8rem;
}

.copy{
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

.main__footer [class*="icon-"]{
  color:white;
  text-decoration: none;
  margin:5px;
}

.main__footer [class*="icon-"]:before{
  position: relative;
  top:3px;
  right: 5px;
}

/*----------------------- Estilos Paginación -----------------------*/
a.page-link{
  color: #1a4714;
}

span.page-link{
  background-color: rgba(10,46,7,0.95);
}

/*----------------------- Otros Estilos -----------------------*/
.category-title{
  margin: 0px;
  font-size: 1.1rem
}

.info-title{
  font-family: Yanone;
  font-weight: bold;
}

.btn-cat-filter{
  font-size: 0.6rem;
}

.liana{
  display: none
}

/* ************************************************************************************** */
/* ********************************* Estilos Responsive ********************************* */
/* ************************************************************************************** */
@media screen and (min-width:768px){
  .main-header{
    margin-top: 0px;
 }
  
  h1.logo{
    text-align: left
  }

  .main-header__contactInfo__phone{
    display: block
  }
  
  .main-header__contactInfo__address{
    display: block
  }

  .main-nav{
    position: relative;
    padding: 0px
  }

  .bg-menu{
    background: #188812;
  }

  .nav-item{
    font-size: 0.7rem;
    padding: 1px
  }

  .social-icon [class*="icon-"]{
    font-size: 0.8rem;
    width:25px;
    height: 25px;
  }
  
  .social-icon__link{
    display: inline-block
  }
  
  .banner__img{
    height: 210px;
  }
  
  .banner__content{
    top:83%;
    font-size: 1.5rem;
  }

  p a.social-icon__link{
    display: block;
  }

  .btn-cat-filter{
    font-size: 0.8rem;
  }

  .liana{
    display: inline;
  }
}

@media screen and (min-width:1200px){
  .container{
    width: 1000px;
  }
  
  h1.logo{
    font-size: 2.5rem;
    padding-left: 0px;
  }
  
  .banner__img{
    height: 240px;
  }
  
  .banner__content{
    top:77%;
    font-size: 2.2rem;
  }

  .nav-item{
    font-size: 0.8rem;
    padding: 0px 5px
  }

  .social-icon [class*="icon-"]{
    font-size: 01rem;
    width:25px;
    height: 25px;
  }

  .btn-cat-filter{
    font-size: 0.9rem;
  }
}


@media screen and (min-width:1600px){
  .container{
    width: 1200px;
  }
}